* {
	box-sizing: border-box;
}

.linea {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

body {
	min-width: 300px;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	color: #555;
	background-color: #9ecfe7;
	background-image: url(@jinglebot.png), url(@jinglebot.png), url(@jinglebot.png);
	background-repeat: no-repeat, no-repeat, no-repeat;
	animation: animatedBackground 90s linear infinite alternate;
	-webkit-animation: animatedBackground 90s linear infinite alternate;
}

@keyframes animatedBackground {
	from { background-position: 75vw 5vh, 100vw 40vh,-100vw 50vh; }
	to { background-position: -100vw 45vh, -100vw 120vh, 100vw 150vh; }
}

.cajon {
	margin: auto;
}

img {
	transition: width 0.5s;
	text-align: center;
	align-items: center;
	margin: auto;
	border-radius: 25px;
	position: center;
	background-repeat: no-repeat;
	border: 1px solid #aaa;
	box-shadow: 3px 3px 3px #888;
}

h3 {
	font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
}

a {
	color: #f64;
	text-shadow: 1px 1px 1px #888;
	font-weight: bolder;
	min-height: 48px;
	letter-spacing: 0.07em;
}

/* Header */

#header {
	justify-content: center;
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(102, 56, 38, 0.5), rgba(0, 0, 0, 0));
}

.title-logo {
	border: none;
	box-shadow: none;
	margin: auto;
	justify-content: center;
	align-items: center;
}

.col-md-2 {
	margin: auto;
}

.title-info {
	margin: auto;
	text-align: center;
	color: #fff;
	text-shadow: 3px 3px 3px #888;
}

.title-super {
	margin-top: 30px;
	font-size: 5em;
	font-weight: 700;
	letter-spacing: 0.025em;
	text-transform: uppercase;
}

.handle {
	letter-spacing: 1em;
}

.specialty {
	letter-spacing: 0.5em;
}

.fw-title {
	color: #f63;
	text-shadow: 2px 2px 2px #888;
	letter-spacing: 0.125em;
}

/* from https://css-tricks.com/examples/hrs/ */
hr {
	width: 100%;
	height: 12px;
	box-shadow: inset 0 12px 12px -12px #888;
}

/* Featured Work */

.presentproj {
	align-items: center;
	padding: 10px;
}

.projimgs {
	display: block;
	width: 100%;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	justify-content: center;
}

figcaption {
	padding-top: 5px;
	font-size: 10px;
	font-style: italic;
}

p {
	text-align: justify;
	padding-top: 1em;
}

.css-validator {
	border: 0;
	border-radius: 0;
	width: 88px;
	height: 31px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 449px) {

	body {
		background-size: 40vh;
	}

	.title-logo {
		height: 15vw;
		min-height: 45px;
		margin-top: 10px;
	}

	.title-info {
		width: 100%;
		min-height: 115px;
		text-shadow: 1px 1px 1px #333;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	}

	.title-super,
	h1,
	h3 {
		font-size: 1.5em;
		letter-spacing: 0.08em;
		margin-top: 20px;
	}

	.handle,
	.specialty {
		font-size: 1em;
		letter-spacing: 0.2em;
		margin-top: 10px;
	}

	hr {
		display: none;
	}

}

@media screen and (min-width: 450px) and (max-width: 599px) {

	.title-logo {
		width: 18vw;
	}

	.title-super {
		font-size: 1.75em;
	}

	.handle {
		font-size: 1em;
		letter-spacing: 0.5em;
		margin-top: 10px;
	}

	.specialty {
		font-size: 1em;
		letter-spacing: 0.1em;
		margin-bottom: 2em;
	}

	hr {
		display: none;
	}

	h3,
	h1 {
		font-size: 1.5em;
	}

	.col-md-3 {
		width: 85%;
		margin: auto;
	}

}

@media screen and (min-width: 600px) and (max-width: 799px) {

	.title-logo {
		width: 15vw;
	}

	.title-super,
	h1 {
		font-size: 2.5em;
	}

	.handle {
		font-size: 1.5em;
		letter-spacing: 0.5em;
		margin-top: 10px;
	}

	.specialty {
		letter-spacing: 0.15em;
		margin-bottom: 2em;
	}

	hr {
		display: none;
	}

	h3,
	h1 {
		font-size: 1.75em;
	}

	.col-md-3 {
		width: 50%;
		margin: auto;
	}

}

@media screen and (min-width: 800px) and (max-width: 999px) {

	.title-logo {
		width: 15vw;
	}

	.title-super {
		font-size: 3em;
	}

	.handle {
		font-size: 1.5em;
		letter-spacing: 0.5em;
		margin-top: 10px;
	}

	.specialty {
		letter-spacing: 0.15em;
		margin-bottom: 2em;
	}

	hr {
		display: none;
	}

	.col-md-3 {
		width: 50%;
		margin: auto;
	}

	.projimgs {
		max-width: 50vw;
	}

}

@media screen and (min-width: 1000px) {

	.title-super {
		font-size: 6em;
	}

	hr {
		margin-top: 0;
	}

	.projimgs {
		max-width: 50vw;
	}

	.col-md-3 {
		width: 25%;
		margin: auto;
	}

}
